	<div id="page-wrap">
	        <section id="subintro">
<div class="jumbotron subhead" id="overview">
	<div class="container-fluid">
		<div class="row">
			<div class="span12">
				<h4>Welcome to techosh, a Kosh of video tutorials on various technologies<i class="m-icon-big-swapright m-icon-white"></i></h4>
				
			</div>
			
		</div>
	</div>
</div>
</section>
		
			<div class="container-fluid">

				<div class="row-fluid">
					
						<ul class="tiles">
							<li class="orange high long">
								<a href="<%= lecture_path(Tutorial.find_by_id(1)) %>"><span class='count'><div style="padding:20px; margin-top:-50px;"><%= image_tag "technology/html-css.png" %></div></span><span class='name'>in Hindi</span></a>
							</li>
							<li class="blue">
								<a href="<%= lecture_path(Tutorial.find_by_id(2)) %>"><span><div style="padding:10px; margin-top:-20px;"><%= image_tag "technology/php.png" %></div></span><span class='name'>in Hindi</span></a>
							</li>
							<li class="pink long">
								<a href="<%= lecture_path(Tutorial.find_by_id(3)) %>"><span><div style="padding:10px; "><%= image_tag "technology/c-logo.png" %></div><span class='name'>in English</span></a>
							</li>
							<li class="red">
								<a href="<%= lecture_path(Tutorial.find_by_id(4)) %>"><span class='count'><div style="padding:2px; margin-top:-20px;"><%= image_tag "technology/mysql.png" %></div><span class='name'>in English</span></a>
							</li>
							<li class="lime">
								<a href="<%= lecture_path(Tutorial.find_by_id(5)) %>"><span><div style="padding:5px; margin-top:-10px;"><%= image_tag "technology/csharp.png" %></div></span><span class='name'>in English</span></a>
							</li>
							
							<li class="blue long">
								<a href="<%= lecture_path(Tutorial.find_by_id(6)) %>"><span><div style="padding:10px; margin-top:-20px; "><%= image_tag "technology/java.png" %></div></span><span class='name'>in Hindi</span></a>
							</li>
							<li class="brown">
								<a href="<%= lecture_path(Tutorial.find_by_id(7)) %>"><span><div style="padding:20px; margin-top:-50px;"><%= image_tag "technology/drupal.png" %></div></span></a>
							</li>
							<li class="green long">
								<a href="<%= lecture_path(Tutorial.find_by_id(8)) %>"><span><div style="padding:10px; "><%= image_tag "technology/cplus-logo.png" %></div></span><span class='name'>in Hindi</span></a>
							</li>
							
							<li class="teal long">
								<a href="<%= lecture_path(Tutorial.find_by_id(9)) %>"><span><div style="padding:10px; "><%= image_tag "technology/photoshop.png" %></div></span><span class='name'>in Hindi</span></a>
							</li>
							<li class="blue">
								<a href="<%= lecture_path(Tutorial.find_by_id(10)) %>"><span><div style="padding:25px; margin-top:-50px;"><%= image_tag "technology/html5.png" %></div></span><span class='name'>in English</span></a>
							</li>
							<li class="magenta">
							<a href="<%= lecture_path(Tutorial.find_by_id(11)) %>"><span><div style="padding:15px; margin-top:-42px;"><%= image_tag "technology/css.png" %></div></span><span class='name'>in English</span></a>
							</li>
							<li class="pink long">
								<a href="<%= lecture_path(Tutorial.find_by_id(12)) %>"><span><div style="padding:10px; margin-top:-10px;"><%= image_tag "technology/android.png" %></div></span><span class='name'>in English</span></a>
							</li>
							<li class="blue">
								<a href="<%= lecture_path(Tutorial.find_by_id(13)) %>"><span><div style="padding:15px; margin-top:-50px;"><%= image_tag "technology/jquery.png" %></div></span><span class='name'>in Hindi</span></a>
							</li>
							<li class="red">
								<a href="<%= lecture_path(Tutorial.find_by_id(14)) %>"><span><div style="padding:15px; margin-top:-46px;"><%= image_tag "technology/ror.png" %></div></span></a>
							</li>
							<li class="orange long">
								<a href="<%= lecture_path(Tutorial.find_by_id(15)) %>"><span><div style="padding:5px; margin-top:-10px;"><%= image_tag "technology/python.png" %></div></span><span class='name'>in English</span></a>
							</li>
							<li class="red long">
								<a href="<%= lecture_path(Tutorial.find_by_id(16)) %>"><span><div style="padding:5px; margin-top:-10px;"><%= image_tag "technology/ruby-logo.png" %></div></span><span class='name'>in English</span></a>
							</li>
							<li class="green">
								<a href="<%= lecture_path(Tutorial.find_by_id(17)) %>"><span><div style="padding:5px; margin-top:-25px;"><%= image_tag "technology/tally.png" %></div></span><span class='name'>in Hindi</span></a>
							</li>
							<li class="teal long">
								<a href="<%= lecture_path(Tutorial.find_by_id(18)) %>"><span><div style="padding:10px; "><%= image_tag "technology/javascript.png" %></div></span><span class='name'>in English</span></a>
							</li>
							<li class="green long">
								<a href="<%= lecture_path(Tutorial.find_by_id(19)) %>"><span><div style="padding:5px; margin-top:-25px;"><%= image_tag "technology/django.png" %></div></span><span class='name'>in Eng</span></a>
							</li>
							<li class="magenta">
								<a href="<%= lecture_path(Tutorial.find_by_id(20)) %>"><span><div style="padding:10px; margin-top:-30px;"><%= image_tag "technology/yii.png" %></div></span><span class='name'>in English</span></a>
							</li>
							<li class="pink long">
								<a href="<%= lecture_path(Tutorial.find_by_id(21)) %>"><span><div style="padding:5px; margin-top:-10px;"><%= image_tag "technology/sql-server.png" %></div></span><span class='name'>in English</span></a>
							</li>
							
							<li class="brown long">
								<a href="<%= lecture_path(Tutorial.find_by_id(22)) %>"><span><div style="padding:15px; margin-top:-20px;"><%= image_tag "technology/magento.png" %></div></span><span class='name'>in English</span></a>
							</li>
							<li class="blue long">
								<a href="<%= lecture_path(Tutorial.find_by_id(23)) %>"><span><div style="padding:10px;"><%= image_tag "technology/bootstrap.png" %></div></span><span class='name'>in English</span></a>
							</li>
							<li class="orange long">
								<a href="<%= lecture_path(Tutorial.find_by_id(24)) %>"><span><div style="padding:5px;"><%= image_tag "technology/codeigniter.png" %></div></span><span class='name'>in English</span></a>
							</li>
							<li class="lime long">
								<a href="<%= lecture_path(Tutorial.find_by_id(25)) %>"><span><div style="padding:5px;"><%= image_tag "technology/zend.png" %></div></span><span class='name'>in English</span></a>
							</li>
							<li class="teal">
								<a href="<%= lecture_path(Tutorial.find_by_id(26)) %>"><span><div style="padding:20px; margin-top:-45px;"><%= image_tag "technology/wordpress.png" %></div></span><span class='name'>in Hindi</span></a>
							</li>
							
							<li class="pink long">
								<a href="<%= lecture_path(Tutorial.find_by_id(27)) %>"><span><div style="padding:5px; margin-top:-10px;"><%= image_tag "technology/github.png" %></div></span><span class='name'>in English</span></a>
							</li>
							
							<li class="brown">
								<a href="#"><span><div style="padding:10px; margin-top:-30px;"><%= image_tag "technology/autocad.png" %></div></span><span class='name'>in English</span></a>
							</li>
							<li class="red">
								<a href="#"><span><div style="padding:15px; margin-top:-47px;"><%= image_tag "technology/linux-redhat.png" %></div></span></a>
							</li>
							<li class="magenta long">
								<a href="#"><span><div style="padding:10px; margin-top:-20px;"><%= image_tag "technology/facebook-app.png" %></div></span><span class='name'>in English</span></a>
							</li>
						</ul>					
					
				</div>
	  </div>
</div>
		</div>
	 </div>
	</div>