<div id="footer">	
 <div id="navigation">
<div class="container-fluid">
 <div class="row-fluid">
   <div class="span9">
  
		<div class="container" style="padding-left:80px;">
     <ul class='main-nav' style="padding-top:10px;">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About Us", about_path %></li>
				<li><%= link_to "Terms & Conditions", terms_path %></li>
				<li><%= link_to "Privacy Policy", policy_path %></li>
				<li><%= link_to "Contact Us", root_path %></li>
		</ul>
		</div>
   </div>
   <div class="span3">
   
     <ul class='main-nav'>
				<li>
					<a href="https://www.facebook.com/pages/Techoshdotcom/1103655423083384" target="_blank"><%= image_tag "social/facebook.png" %></a></li>
				<li>
					<a href="https://plus.google.com/108171077689451362434/posts" target="_blank"><%= image_tag "social/google-plus.png" %></a></li>
				<li>
					<a href="https://twitter.com/TechoshDotCom" target="_blank"><%= image_tag "social/twitter.png" %></a></li>
				
		</ul>
		
		   </div>
 </div>
</div>
</div>	
</div>